* {
    text-wrap: nowrap;
}
.title {
    padding: 10px 10px;
    font-size: 24px;
    font-weight: bold;
    text-decoration: underline;
}
.info {
    position: fixed;
    top: 50px;
    bottom: 50px;
    left: 50px;
    right: 50px;
    border-radius: 4px;
    box-shadow: 0 0 5px 5px rgba(34,34,340, 0.3);
    -moz-box-shadow: 0 0 5px 5px rgba(34,34,34, 0.3);
    -webkit-box-shadow: 0 0 5px 5px rgba(34,34,34, 0.3);
    background-color: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(4px);
    padding: 20px;
    overflow-x: hidden;
    overflow-y: scroll;
}
.info-content {
    padding-left: 20px;
}