.titlebar-title {
  margin: 5px 0px 0px 15px;
  color: var(--titlebar-color);
  display: flex;
  align-items:center;
  font-size: 24px;
  font-weight: bold;
}
.titlebar-name {
  margin: 0px 0px 0px 8px;
  color: var(--titlebar-color);
  display: flex;
  align-items:center;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 0 0 4px #555;
}
.titlebar-update {
  position: absolute;
  top: -4px;
  right: 140px;
  width: 170px;
  padding: 2px;
  font-style: italic;
  background: #dcffe4;
  border-radius: 8px;
  color: #357960;
  text-align: center;
  box-shadow: 0 0 3px 3px rgba(220, 255, 228);
  -moz-box-shadow: 0 0 3px 3px rgba(220, 255, 228);
  -webkit-box-shadow: 0 0 3px 3px rgba(220, 255, 228);
  cursor: pointer;
}
.titlebar-control {
  position: absolute;
  top: 15px;
  right: 15px;
}
.titlebar-control-img {
  margin-right: 5px;
  width: 33px;
  cursor: pointer;
}
.titlebar-dropdown {
  position: absolute;
  top: var(--titlebar-height);
  width: 140px;
  background: var(--sidebar-background);
  z-index: 199 !important;
}
.titlebar-dropdown-item {
  padding: 4px 0px 4px 10px;
  color: var(--sidebar-color);
  cursor: pointer;
}